@import "tailwindcss";

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-modal-width {
  max-width: 900px !important; /* or 1000px for extra width */
}

.custom-modal {
  background: linear-gradient(135deg, #f0f4ff, #e0e7ff);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  padding: 20px;
}